.box2-container{
    padding:3%;
    overflow: hidden;
    position: relative;
}
.box2-left{
    float:left;
}
.box2-right{
    float:right;
}
.box2-box{
    display:table-cell; 
    vertical-align: middle;/*对齐中间*/
    /*vertical-align: middle;对齐底部*/
    height: 130px;
}
.box2-ele-box{
    width:200px;
    height: 130px;
    display: table-cell;
    vertical-align: bottom;
}
.box2-ele-box ul li{
    padding:1% 2%;
    display: inline-block;
    background: lightskyblue;
}