.box4-container{
    padding:3%;
}
.user-box{
    margin: 0 auto;
    width:20%;
    height: 0;
    background: rgba(0,0,0,.5);
    padding-bottom: 30%;
    border-radius:3% ;
}
.form-box{
    width: 150px;
    height: 35px;
    background: transparent;
    margin: 20px auto;
}
.form-box label{
    float: left;
    width: 30%;
    height: 100%;
    background: lightskyblue;
}
.form-box input{
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding:0 10px;
    height: 100%;
    width: 70%;
    outline: none;
    border: 0;
}

.user-box button{
    white-space: nowrap;/*文字超出容器不换行*/
    width: 80px;
    display: block;
    border: 0;
    margin: 0 auto;
    outline: none;
    color:white;
    background: lightskyblue;
    
}