.box5-container{
    margin: 0 auto;
    padding:3%;
    overflow: hidden;
    -moz-column-count:5; /* Firefox */
    -webkit-column-count:5;/*chrome safria*/
    column-count: 5;
    column-gap: 0;
    transition: .5s;
}
.box5-item{
    float:left;
    height:100%;overflow: auto;
    break-inside: avoid;
    margin-bottom:5px;
}
.box5-item i{
    background: rgba(0,0,0,.6);
    color:#f7f7f7;
    display: table-cell;
    width: 230px;
    vertical-align: middle;
    text-align: center;
    font-style:normal;
    font-weight:bolder;
    font-size:30px;
}
.box5-item:nth-child(1) i{
    height: 200px;
}
.box5-item:nth-child(2) i{
    height: 400px;
}
.box5-item:nth-child(3) i{
    height: 350px;
}
.box5-item:nth-child(4) i{
    height: 210px;
}
.box5-item:nth-child(5) i{
    height: 430px;
}
.box5-item:nth-child(6) i{
    height: 500px;
}
.box5-item:nth-child(7) i{
    height: 190px;
}
.box5-item:nth-child(8) i{
    height: 250px;
}
.box5-item:nth-child(9) i{
    height: 270px;
}
.box5-item:nth-child(10) i{
    height: 370px;
}
.box5-item:nth-child(11) i{
    height: 430px;
}
.box5-item:nth-child(12) i{
    height: 780px;
}
.box5-item:nth-child(13) i{
    height: 230px;
}
.box5-item:nth-child(14) i{
    height: 100px;
}
.box5-item:nth-child(15) i{
    height: 350px;
}

