.box7-container{
    margin: 0 auto;
    padding:30px;
    position: relative;
    height:2480px;
}
.box7-item{
    transition:all .3s ease-in;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}
.box7-item i{
    background: rgba(0,0,0,.6);
    color:#f7f7f7;
    display: table-cell;
    width: 230px;
    vertical-align: middle;
    text-align: center;
    font-style:normal;
    font-weight:bolder;
    font-size:30px;
}
.box7-item:nth-child(1) i{
    height: 200px;
    
}
.box7-item:nth-child(2) i{
    height: 400px;
}
.box7-item:nth-child(3) i{
    height: 350px;
}
.box7-item:nth-child(4) i{
    height: 210px;
}
.box7-item:nth-child(5) i{
    height: 130px;
}
.box7-item:nth-child(6) i{
    height: 500px;
}
.box7-item:nth-child(7) i{
    height: 190px;
}
.box7-item:nth-child(8) i{
    height: 250px;
}
.box7-item:nth-child(9) i{
    height: 270px;
}
.box7-item:nth-child(10) i{
    height: 370px;
}
.box7-item:nth-child(11) i{
    height: 430px;
}
.box7-item:nth-child(12) i{
    height: 780px;
}
.box7-item:nth-child(13) i{
    height: 230px;
}
.box7-item:nth-child(14) i{
    height: 100px;
}
.box7-item:nth-child(15) i{
    height: 350px;
}
.box7-item:nth-child(16) i{
    height: 370px;
}
.box7-item:nth-child(17) i{
    height: 150px;
}
.box7-item:nth-child(18) i{
    height: 320px;
}
.box7-item:nth-child(19) i{
    height: 130px;
}
.box7-item:nth-child(20) i{
    height: 450px;
}
.box7-item:nth-child(21) i{
    height: 240px;
}
.box7-item:nth-child(22) i{
    height: 320px;
}
.box7-item:nth-child(23) i{
    height: 100px;
}
.box7-item:nth-child(24) i{
    height: 310px;
}
.box7-item:nth-child(25) i{
    height: 350px;
}
.box7-item:nth-child(26) i{
    height: 310px;
}
.box7-item:nth-child(27) i{
    height: 250px;
}
.box7-item:nth-child(28) i{
    height: 150px;
}
.box7-item:nth-child(29) i{
    height: 550px;
}
.box7-item:nth-child(30) i{
    height: 300px;
}

